---
// Importar estilos CSS
---

<link rel="stylesheet" href="/src/style/components.css">

<footer class="footer">
    <div class="footer-content">
        <div class="left">
            <h2>Direccion de Turismo San Rafael</h2>
            <p style="max-width: 350px; margin: 0 auto;">
                Descubre el paraiso natural de San Rafael, con sus paisajes impresionantes, aventuras al aire libre y la mejor gastronomia de la region.
            </p>
        </div>
        <div class="right">
            <h2>Enlaces Rapidos</h2>
            <p>
                <a class="footer-link" href="/llegar">Indicaciones</a><br>
                <a class="footer-link" href="/emergencias" style="color: red;">Emergencias</a><br>
                <a class="footer-link" href="/servicios">Servicios</a><br>
                <a class="footer-link" href="/hospedaje">Hospedaje</a><br>
                <a class="footer-link" href="/info">Informacion util</a>
            </p>
        </div>
    </div>
    <hr style="border: none; border-top: 0.5px solid #fff; margin: 0px; width: 100%;" />
    <div>
        <p>© {new Date().getFullYear()} San Rafael Turismo. Todos los derechos reservados. Hecho con 🤍 en San Rafael.</p>
    </div>
</footer>
