---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import ChatModal from "../components/ChatModal.astro";
---

<html lang="es">
    <head>
        <link rel="icon" href="/logo-turify.png" />
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>Turify</title>
    </head>
    <body>
        <Navbar />
        <main>
            <slot />
        </main>
        <Footer />
        <ChatModal />
    </body>
</html>
