---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import ChatModal from "../components/ChatModal.astro";
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Turify</title>
    </head>
    <body>
        <Navbar />
        <main>
            <slot />
        </main>
        <Footer />
        <ChatModal />
    </body>
</html>
