---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Empresas Turísticas">
  <main>
    <h1>Empresas Turísticas</h1>
    <p>Todas las empresas turísticas disponibles en nuestra plataforma.</p>
  </main>
</MainLayout>
