---
import AdminPanel from "../../components/AdminPanel.astro";
import { AdminMenu } from "../../components/AdminMenu";
// Cuando implementes la API:
// const res = await fetch('http://localhost:3000/api/rutas');
// const rutas = await res.json();
---

<AdminPanel menu={AdminMenu}>
    <!-- Aquí va el contenido de rutas cuando lo agregues -->
    <div class="admin-content">
      <h1>Rutas (en construcción)</h1>
    </div>
</AdminPanel>