---
import AdminPanel from "../../components/AdminPanel.astro";
import { AdminMenu } from "../../components/AdminMenu";
---

<AdminPanel menu={AdminMenu}>
    <!-- Aquí va el contenido de usuarios cuando lo agregues -->
    <div class="admin-content">
      <h1>Usuarios (en construcción)</h1>
    </div>
</AdminPanel>